# Node (development or production)
NODE_ENV="production"


# Server
PORT=3000

HOST=0.0.0.0

# 32-Bits key
COOKIE_SECRET=


# Application
TRACK_DAYS=1


# Trakt trakt.tv/oauth/applications
TRAKT_CLIENT_ID=

TRAKT_CLIENT_SECRET=

# Needs to be registered at the application on Trakt
TRAKT_REDIRECT_URI=https://ttrakerr.herokuapp.com/authenticate

TRAKT_RESPONSE_TYPE=code

# Keep the slash at the end
TRAKT_API_URL=https://api.trakt.tv/

# Keep the slash at the end
TRAKT_SITE_URL=https://trakt.tv/

# Don't place a slash at the end
TRAKT_AUTHORIZATION_ENDPOINT=oauth/authorize

# Don't place a slash at the end
TRAKT_TOKEN_ENDPOINT=oauth/token

TRAKT_GRANT_TYPE_CODE=authorization_code

TRAKT_API_VERSION=2


# TV DB
TVDB_API_KEY=

TVDB_USER_KEY=

TVDB_USER_NAME=