/* Fonts */
@import url("https://fonts.googleapis.com/css?family=McLaren&display=swap");

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

/* Global */
:root {
  --linear-gradient: linear-gradient(
    to right top,
    #dfefac,
    #cdefac,
    #baeeaf,
    #a5edb5,
    #8fecbc,
    #78ebcd,
    #65e8de,
    #5ae5ed,
    #6edffe,
    #8fd8ff,
    #b1d0ff,
    #cbc8f5
  );
  --play-color: #fff;
  --play-background-color: #000;
  --border-button-color: rgba(255, 255, 255, 0.25);
  --button-color: #1b1b1b;
  --icon-color: #000;
  --link-color: #000;
  --link-hover-color: #000;
  --placeholder-color: #000;
  --logo-color: #93979a;
  --text-color: #000;
  --media-icon-color: #000;
}

::selection {
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-image: var(--linear-gradient);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--play-background-color);
  border: 0;
}

/* Logo */
.logo {
  transform: rotate(-90deg) translate3d(0, 0, 0);
  font-family: "McLaren", cursive;
  position: absolute;
  top: 40%;
  left: -350px;
  font-size: 12rem;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}

/* Main header */
.main-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: minmax(110px, 1fr);
  grid-gap: 5px;
  position: relative;
}

.main-header-logo {
  display: block;
  position: relative;
}

.main-header-logo > i {
  font-size: 1.3rem;
  position: relative;
  left: 32px;
  top: 30px;
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header-logo-geometry {
  transform: rotate(15deg) translate3d(0, 0, 0);
  border-radius: 11px;
  position: absolute;
  left: -23px;
  top: -5px;
  width: 106px;
  height: 84px;
  z-index: 0;
  background: var(--play-background-color);
}

.main-header-links {
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  min-height: 110px;
  width: 100%;
  padding: 5px;
}

.main-header-links-form-days {
  display: inline-block;
  position: relative;
  height: auto;
}

.main-header-links-form-days::before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f274";
  position: absolute;
  left: 6px;
  font-size: 1.1rem;
  color: var(--icon-color);
}

.main-header-links-form-days > input {
  width: 145px;
  background: transparent;
  padding: 3px;
  margin-left: 35px;
  border: none;
}

.main-header-links-form-days > input::placeholder {
  color: var(--placeholder-color);
}

.main-header-links-form-days > input:focus {
  color: var(--link-hover-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main-header-links-sign {
}

.main-header-links-sign > a {
  transition: all 0.3s ease-in-out 0s;
  color: var(--link-color);
  margin-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.main-header-links-sign-hover {
  transition: all 0.3s ease-in-out 0s;
  color: var(--link-hover-color);
}

.main-header-links-sign {
  color: var(--icon-color);
  font-size: 1rem;
}

/* Content */
.main-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.main-title {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  align-self: center;
}

.main-title::after {
  transition: all 0.3s ease-in-out 0s;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 11px;
  width: 285px;
  height: 5px;
  background: var(--text-color);
}

.main-title > span {
  transition: all 0.3s ease-in-out 0s;
  font-family: "Bebas Neue", cursive;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 5rem;
  text-align: left;
  color: var(--text-color);
}

@media (max-width: 425px) {
  .main-title::after {
    top: -5px;
    bottom: 0px;
    width: 145px;
  }

  .main-title > span {
    font-size: 4rem;
  }
}

.main-board {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 2.5px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 10px;
  align-items: stretch;
}

.main-board > * {
  position: relative;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: default;
}

.board-item-image > img {
  width: 200px;
  height: 300px;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out 0s;
}

.board-item-image > img:hover {
  filter: grayscale(0);
}

.board-item-image > span {
  font-size: 0.9rem;
  font-family: "Merriweather", serif;
  position: absolute;
  transform: translate(-45px, -20px);
  background-color: var(--main-background-color);
  color: var(--button-color);
  border: 1px solid var(--border-button-color);
  border-radius: 50%;
  width: 65px;
  line-height: 30px;
  text-align: center;
  padding: 1px;
}

.board-item-image > span::first-line {
  font-weight: 800;
  font-size: 1.8rem;
}

.board-item-image > span:hover::first-line {
  color: var(--link-hover-color);
}

.board-item-metadata {
  margin-top: 20px;
  width: 75%;
  height: 25%;
  transition: all 0.5s ease-in-out 0s;
  font-family: "Lora", serif;
}

.board-item-metadata > span:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 800;
}

.board-item-metadata > span:hover:nth-child(4) {
  color: var(--media-icon-color);
}

.board-item-metadata > i {
  color: var(--media-icon-color);
}
